/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 1110px;
  margin: auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 96px;
}

.navigation__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 53px;
}

.navigation__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 431px;
  height: 30px;
}

.navigation__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 130px;
  height: 30px;
}

.navigation__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 305px;
  height: 30px;
}

.ul__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  padding-left: 58.18px;
  gap: 0px 32px;
}

.link__list {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  color: #939CAA;
  cursor: pointer;
}

.navigation__button {
  width: 180px;
  height: 53px;
  background: #FCB72B;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.hero {
  width: 100%;
  height: 200px;
  background-image: url("../../Careers/image/LOGO.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
}

.hero__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.hero__lang {
  width: 300px;
  height: 60px;
  border: 1px solid white;
}

.hero__meta {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
  margin: 0px;
}

.aside {
  width: 100%;
  height: 663px;
}

.aside__header {
  width: 100%;
  height: 663px;
  padding-top: 120px;
}

.aside__language {
  width: 100%;
  height: 543px;
}

.aside__image {
  width: 100%;
  height: 543px;
  object-fit: cover;
}

.article {
  width: 100%;
  height: 220px;
  padding-top: 120px;
}

.article__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.article__lang {
  width: 351px;
  height: 96px;
}

.article__text {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.article__meta {
  width: 445px;
  height: 100px;
}

.article__pragraph {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.article__button {
  width: 180px;
  height: 53px;
  background-color: #FCB72B;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  border: none;
  color: #FFFFFF;
}

.article__button:hover {
  background-color: rgb(56, 119, 237);
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 460px;
  padding-top: 160px;
}

.footer__header {
  width: 100%;
  height: 300px;
  background-image: url("../../Careers/image/Footer-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.footer__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 96px;
}

.footer__charset {
  width: 415px;
  height: 96px;
}

.footer__headerone {
  font-family: "Space Mono", monospace;
  margin: 0px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
}

.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 359px;
  height: 56px;
}

.footer__icons {
  width: 159px;
  height: 56px;
  background: #E5ECF4;
  border-radius: 4px;
}

.footer__icon {
  width: 182px;
  height: 56px;
  background: #E5ECF4;
  border-radius: 4px;
}

.subsection {
  width: 100%;
  height: 96px;
  background-color: #333A44;
}

.subsection__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 96px;
}

.subsection__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 29px;
}

.subsection__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 417px;
  height: 29px;
}

.subsection__title {
  width: 112px;
  height: 28.56px;
}

.subsection__body {
  width: 249px;
  height: 28.56px;
}

.subsection__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
}

.link__list {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.subsection__charset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 120px;
  height: 24px;
  cursor: pointer;
}/*# sourceMappingURL=Careers.css.map */