/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.container{
    width: 1110px;
    margin: auto;
}
.Navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 96px;
}
.navigation__hero{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 49px;
}
.navigation__bar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 419px;
    height: 49px;
}
.navigation__ullist{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex; 
   -webkit-box-align: center; 
       -ms-flex-align: center; 
           align-items: center;
   gap: 42px;
   list-style-type: none;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
}
.navigation__link__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
    height: 49px;
    background-color: #FCB72B;
    font-family: 'Space Mono', monospace;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
}
.navigation__link{
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 15px;
    line-height: 35px;
    color: #939CAA;
}

.hero{
    width: 100%;
    height: 650px;
}
.container__hero{
    width: 1440px;
    height: 650px;
    margin: auto;
}
.hero__header{
    width: 100%;
    height: 650px;
    background-image: url("../image/Scooter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 153px;
    padding-left: 165px;
}
.hero__headerone{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    width: 500px;
    color: #FFFFFF;
    margin: 0px;
}
.hero__border{
    margin-top: 88px;
    margin-left: -164.5px;
}
.hero__pragraph{
    width: 405px;
    height: 100px;
    margin-left: 97px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: -58px;
}
.hero__images{
    margin-left: 542px;
    margin-top: -58px;
}
.hero__button{
    width: 180px;
    height: 53px;
    background-color: #FCB72B; 
    margin-left: -900px;
    margin-top: -400px;
    border: none;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
}
.hero__button:hover{
    background-color: rgb(241, 72, 241);
    cursor: pointer;
}
.intro{
    width: 100%;
    height: 451px;
}
.intro__header{
    width: 100%;
    height: 451px;
    padding-top: 160px;
}
.intro__meta{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 291px;
}
.intro__card{
    width: 370px;
    height: 292px;
}
.intro__image{
     width: 54.2%;
     height: 15px;
     -webkit-transform: translate(-200px);
         -ms-transform: translate(-200px);
             transform: translate(-200px);
     margin-top: 50px;
}
.intro__picture{
    width: 100%;
    height: 15px;
    background-image: url("../image/Long.png");
    background-repeat: no-repeat;
    margin-top: -19.2px;
}
.intro__picture{
    width: 100%;
    height: 15px;
    margin-top: -19.2px;
}
.intro__photos{
    margin-top: -64px;
    padding-bottom: 40px;
}
.intro__photosing{
    margin-top: -68.5px;
    padding-bottom: 40px;
}
.intro__headertree{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
    margin: 0px;
    padding-bottom: 27px;
}
.intro__pragraph{
    width: 348px;
    height: 100px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA; 
}
.central{
    width: 100%;
    height: 649.94px;
}
.central__header{
    width: 100%;
    height: 649.94px;
    padding-top: 200px;
}
.central__meta{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 449.94px;
}
.central__charset{
    width: 445px;
    height: 313px;
}
.central__title{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
    margin: 0px;
    padding-bottom: 24px;
}
.central__body{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
    padding-bottom: 40px;
}
.central__button{
    width: 180px;
    height: 53px; 
    background: #FCB72B;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}
.central__button:hover{
    background-color: rgb(69, 126, 230);
    cursor: pointer;
}
.central__box{
    width: 576px;
    height: 449.94px;
    background-image: url("../image/Beautiful-woman.png");
    background-repeat: no-repeat;
}
.central__content{
    -webkit-transform: translate(538px);
        -ms-transform: translate(538px);
            transform: translate(538px);
    margin-top: 299px;
}
.blocks{
    width: 100%;
    height: 600.06px;
}
.blocks__header{
    width: 100%;
    height: 600.06px;
    padding-top: 155.06px;
}
.blocks__lang{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 445px;
}
.blocks__meta{
    width: 445px;
    height: 445px;
    background-image: url("../image/City-center.png");
    background-repeat: no-repeat;
}
.blocks__charset{
    width: 81%;
    height: 38%;
   -webkit-transform: translate(-165px);
       -ms-transform: translate(-165px);
           transform: translate(-165px);
}
.blocks__title{
    width: 445px;
    height: 313px;
}
.blocks__body{     
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
    margin: 0px;
    padding-bottom: 24px;
}
.blocks__contact{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA; 
    padding-bottom: 40px;  
}
.blocks__button{
    width: 180px;
    height: 53px;
    background-color: #FCB72B;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}
.blocks__button:hover{
    background-color: #006a4ec9;
    cursor: pointer;
}
.article{
    width: 100%;
    height: 605px;
}
.article__header{
    width: 100%;
    height: 605px;
    padding-top: 160px;
}
.article__meta{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 445px;
}
.article__charset{
    width: 445px;
    height: 313px;
}
.article__title{
    width: 468px;
    height: 445px;
}
.article__coming{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
    margin: 0px;
    padding-bottom: 24px;
}
.article__pragraph{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
    padding-bottom: 40px;
}
.article__button{
    width: 180px;
    height: 53px;
    background: #FCB72B;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}
.article__button:hover{
    background-color: #e93458;
    cursor: pointer;
}
.article__box{
    width: 468px;
    height: 445px;
    background-image: url("../image/Image__nayza.png");
}
.article__image{
    -webkit-transform: translate(429px);
        -ms-transform: translate(429px);
            transform: translate(429px);
    margin-top: 77.7px;
}
.aside{
    width: 100%;
    height: 629px;
}
.container__aside{
    width: 1440px;
    height: 629px;
    margin: auto;
}
.aside__header{
    width: 100%;
    height: 629px;
    background-image: url("../image/Fonts.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.aside__content{
    width: 100%;
    height: 629px;
    background-image: url("../image/Fonts.png");
    background-repeat: no-repeat;
    padding-top: 329px;
}
.aside__box{
    width: 100%;
    height: 300px;
    padding-top: 102px;
}
.aside__card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 96px;
}
.aside__boxing{
    width: 415px;
    height: 96px;
}
.aside__contact{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #FFFFFF;
    margin: 0px;
}
.aside__logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 359px;
    height: 56px;
}
.aside__charset{
    width: 159px;
    height: 56px;
    background: #E5ECF4;
    border-radius: 4px;
}
.aside__apple{
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.aside__charset:hover{
     -webkit-box-shadow: 0px 0px 4px 1px rgb(241, 2, 201);
             box-shadow: 0px 0px 4px 1px rgb(241, 2, 201);
     cursor: pointer;
}

.footer{
    width: 100%;
    height: 96px;
    background: #333A44;
}
.footer__header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 96px;
}
.footer__lang{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 34px;
}
.footer__meta{
    width: 417px;
    height: 29px;
}
.footer__charset{
    width: 130px;
    height: 27px;
}
.ul__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
}
.link__list{
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}
.footer__before{
    padding-left: 25px;
}





